* {
  font-family: Helvetica, sans-serif;
}

/* Header */
.header {
  display: flex;
  background-color: #1F2937; 
  margin: 0;
  padding: 8px 100px 50px;
  justify-content: space-between;
}

.header-link {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-link a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  color: #F9FAF8;
}

/* Section 1 */
.section1 img {
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin-left: 30px;
  border-radius: 8px;
}

.section1 {
  display: flex;
  background-color: #1F2937;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  justify-content: center;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB
}

.big-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: -10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 800;
}

/* Section 2 */
.section2-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin-top: 48px;
}

.section2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
  padding-bottom: 50px;
}

.section2 img {
  height: auto;
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.info {
  max-width: 200px;
  text-align: center;
}

.text {
  font-size: 18px;
}

/* Section 3 */
.section3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-style: italic;
  margin: auto;
  max-width: 50%;
}

.name {
  margin: auto;
  font-size: 28px;
  font-weight: 800;
  text-align: right;
  max-width: 50%;
}