* {
  font-family: Verdana, sans-serif;
}

html, 
body {
  height: 100%;
  width: 100%;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -2;
}

/* Header */
.header {
  display: flex;
  background-color: #111f6e80; 
  margin: 0 0 50px 0;
  padding: 0 100px 0;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-link {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  margin-right: 10vw;
}

.header-link a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  color: #F9FAF8;
}

/* Section 1 */
.section1 img {
  height: auto;
  max-width: 100%;
  max-height: 300px;
  margin-left: 30px;
  border-radius: 8px;
  margin-top: 75px;
}

.section1 {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  background-color: #4e033297;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  width: 85%;
  margin: 9em auto 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2em rgb(7, 0, 39);
}

.s1-text {
  margin: 3em 2em 3em 5em;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.big-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: -10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  background-color: crimson;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 800;
  width: 10em;
}

.section1-right {
  width: 50vw;
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Section 2 */
.section2-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: white;
  margin-top: 48px;
}

.section2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
  padding-bottom: 50px;
}

.section2 img {
  height: auto;
  width: 150px;
  height: 150px;
  border: 5px solid #3882F6;
  border-radius: 8px;
}

.info {
  max-width: 200px;
  text-align: center;
}

.text {
  font-size: 18px;
  color: white;
}

/* Section 3 */
.section3 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #111f6e95;
}

.quote {
  font-size: 36px;
  font-style: italic;
  margin: auto;
  max-width: 50%;
  color: white;
}

.name {
  margin: auto;
  font-size: 28px;
  font-weight: 800;
  text-align: right;
  max-width: 50%;
  color: white;
}

/* Section 4 */
.section4 {
  margin-top: 100px;
  background-color: #111f6e95;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; 
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 100px;
  padding-left: 100px;
}

.action-header {
  font-size: 24px;
  font-weight: 800;
  color:#E5E7EB;

  margin-bottom: -15px;
}

.action-text {
  color:white;
  font-size: 18px;
}

.button2 {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:#0a1729;
  height: 50px;
  color: white;
}